@font-face {
  font-family: "InterMyFont";
  src: url("../../public/fonts/Inter-VariableFont_opsz\,wght.ttf ");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "InterMyFont", sans-serif;
  overflow-x: hidden;
}

.containerBody2 {
  height: 250vh;
  width: 100vw;
  position: relative;
  z-index: 100;
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 62%,
    rgba(18, 18, 18, 0.96) 72%,
    rgba(18, 18, 18, 0.91) 78%,
    rgba(18, 18, 18, 0.81) 88%,
    rgba(18, 18, 18, 0.74) 96%,
    rgba(18, 18, 18, 0.64) 100%
  );
}

.elementAboutShadow {
  width: 100%;
  height: 30%;
  position: absolute;
  z-index: 200;
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 1) 30%,
    rgba(18, 18, 18, 0.96) 38%,
    rgba(18, 18, 18, 0.91) 44%,
    rgba(18, 18, 18, 0.81) 49%,
    rgba(18, 18, 18, 0.74) 61%,
    rgba(18, 18, 18, 0.54) 69%,
    rgba(18, 18, 18, 0.41) 76%,
    rgba(18, 18, 18, 0.15) 82%
  );
}

.text1 {
  width: 100%;
  text-align: center;
  margin-top: 5% !important;
  font-size: 2rem;
  margin: 0;
  color: white;

  z-index: 10;
}

.text2 {
  width: 100%;
  text-align: center;
  margin-top: 30% !important;
  font-size: 2rem;
  margin: 0;
  color: white;

  z-index: 10;
}

.text3 {
  width: 100%;
  text-align: center;
  margin-top: 18% !important;
  font-size: 2rem;
  margin: 0;
  color: white;

  z-index: 10;
}

.text4 {
  width: 45%;
  text-align: center;
  margin-top: 30% !important;
  font-size: 2rem;
  margin: 0;
  color: white;
  display: inline-block;
  z-index: 10;
}

.text5 {
  width: 45%;
  text-align: center;
  margin-top: 30% !important;
  font-size: 2rem;
  margin: 0;
  color: white;
  display: inline-block;
  z-index: 10;
}

.text6 {
  width: 10%;
  text-align: center;
  margin-top: 30% !important;
  font-size: 2rem;
  margin: 0;
  color: white;
  display: inline-block;
  z-index: 10;
}

.text1Tittle {
  color: white;
}

.containerPresentation {
  width: 60%;
  height: 60%;
  margin-left: 20%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: fixed;
}

.containerPresentation2 {
  width: 40%;
  height: 35%;
  margin-left: 2%;
  margin-top: 5%;
  display: flex;

  flex-direction: column;

  position: fixed;
}

.textModelCar {
  color: white;
  background-color: #8b2635;
  height: 30%;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 10%;
  border-radius: 21px 21px 21px 21px;
}

.textModelCar2 {
  color: white;
  margin-left: 5%;
  margin-top: 0;
  width: 75%;
  letter-spacing: 0.1em;
}

.trigger1 {
  margin-top: 30%;
  height: 16%;
  position: absolute;
}

.trigger2 {
  margin-top: 116%;
  height: 2%;
  position: absolute;
}
.trigger3 {
  top: 5%;
  height: 20%;
  position: absolute;

  z-index: 100;
}

.trigger4 {
  top: 5%;
  position: absolute;
  height: 17%;
}

strong {
  color: #8b2635;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}
.containerListEspec1 {
  width: 100%;
}
.containerAbout {
  display: flex;
}

.containerImg {
  width: 45%;
  margin-top: 35%;
}

.containerText {
  width: 55%;
  margin-top: 35%;
}

.especText1 {
  color: white;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  background-color: #8b2635;
  width: 45%;
  display: flex;
  justify-content: center;
  border-radius: 21px 21px 21px 21px;
  height: 1.5em;
  align-items: center;
}
.especTextList {
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 1.5em;
  height: 38vh;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(139, 38, 53, 0) 52%,
    rgba(139, 38, 53, 0.29) 83%,
    rgba(139, 38, 53, 0.29) 70%,
    rgba(139, 38, 53, 0.24) 97%
  );

  border-radius: 26px 26px 26px 26px;
}
.especTextList > li {
  list-style: none;
  color: white;
  margin-bottom: 0.5em;
}

.especTextList > li > h2 {
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
  display: inline-block;
}

.especTextList > li > i {
  font-size: 1em;
  margin-right: 1em;
  display: inline-block;
}

.carimg1 {
  background-image: url("../../public/img/carimg1.jpg");
  mask-image: linear-gradient(to top, transparent, #121212 30%),
    linear-gradient(to bottom, transparent, #121212 30%),
    linear-gradient(to left, transparent, #121212 30%),
    linear-gradient(to right, transparent, #121212 30%);
  mask-composite: intersect;
  margin-left: 10%;
  margin-top: 7%;
  width: 70%;
  height: 85%;
  position: relative;
  background-size: cover;
}
